* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #DA4453;
  background: -webkit-linear-gradient(to right, #89216B, #DA4453); 
  background: linear-gradient(to right, #89216B, #DA4453); 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: 'Bangers', sans-serif;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 3px;
  text-shadow: 4px 2px 2px black;
  margin: 2rem 0;
}

.valk_container {
  height: 350px;
  width: auto;
  border: thick double #fff;
  border-radius: 15px;
  object-fit: cover;
  background-color: rgba(255, 255, 255, .2);
}

.valk_img {
  height: 100%;
}

.btn {
  width: 10rem;
  height: 3rem;
  margin: 2rem 0;
  // background: rgba(255, 255, 255, .85);
  background-color: rgba(255, 255, 255, .2);
  border-radius: 3px;
  font-size: 1.2rem;
  color: aliceblue;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}